
.store-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--padding-2);
}

.store-container .back img {
    color: var(--white-color);
}

