.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 0.7em;
    margin: 0 120px;

}

.grid-imginfo {
    grid-column: span 3;
    grid-row: span 4;
    overflow-x: hidden;

}




.img-container .grid-imginfo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.right-icon{
    width: 15px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    cursor: pointer;
} 

.left-icon{
    width: 15px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    cursor: pointer;
} 

.img-container .right-icon{
    left: 95%;
}

.img-container .left-icon{
    right: 95%;
}
